[submodule "identity"]
	path = identity
	url = https://github.com/patrickhayo/azr-tf-module-identity.git
[submodule "privatednszone"]
	path = privatednszone
	url = https://github.com/patrickhayo/azr-tf-module-private-dns-zone.git
[submodule "vnet"]
	path = vnet
	url = https://github.com/patrickhayo/azr-tf-module-vnet
[submodule "rt"]
	path = rt
	url = https://github.com/patrickhayo/azr-tf-module-route-table
[submodule "nat"]
	path = nat
	url = https://github.com/patrickhayo/azr-tf-module-nat-gateway
[submodule "nsg"]
	path = nsg
	url = https://github.com/patrickhayo/azr-tf-module-nsg
[submodule "subnet"]
	path = subnet
	url = https://github.com/patrickhayo/azr-tf-module-subnet
