
[submodule "identity"]
	path = identity
	url = https://github.com/patrickhayo/azr-tf-module-identity.git
[submodule "modules/identity"]
	path = modules/identity
	url = https://github.com/patrickhayo/azr-tf-module-identity.git
